body{
    background-color: #2D3531;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8DBDB;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: ##4CAF50;
}
.nav{
    width: 100%;

}

.active {
    background-color: #4CAF50;


.banner {
    height: 40eem;
    width: 100%;
  background-image: url(../img/guitar_dark_background-852x480.jpg);
    opacity: 0.4;
    background-color: #E8DBDB;
}
